@use 'sass:math';
@import "var";

@font-face {
  font-family: 'Offenbacher';
  src: url('/assets/fonts/OfenbacherSchwabCAT.ttf') format('truetype');
}

:host {
  top: 0;
  z-index: $toolbar-z-index;
}

.toolbar {
  padding-right: 0;
  height: $toolbar-height;
  padding-left: $spacing;
  max-width: 100%;

  .toolbar-button {
    border-left-width: 1px;
    border-left-style: solid;
    display: flex;
  }

  .toolbar-logo {
    cursor: pointer;
    outline: none;
    margin-bottom: -5px;
    margin-left: $spacing;
    margin-right: $spacing;

    .logo-text {
      font-family: 'Offenbacher', sans-serif;
      font-size: 28px;
      line-height: 35px;
    }
  }

  @include media-xs {
    padding-left: math.div($spacing, 3);
  }
}
