@use 'sass:math';
@import "var";

@font-face {
  font-family: 'Offenbacher';
  src: url('/assets/fonts/OfenbacherSchwabCAT.ttf') format('truetype');
}

:host {
  display: flex;
  flex-direction: column;
  z-index: $sidenav-z-index;
  height: 100%;
  top: 0;
  bottom: 0;
  width: $sidenav-width;
}

.sidenav {
  height: 100%;
  will-change: width;
}

.sidenav-toolbar {
  padding: 0 math.div($spacing, 1.333) 0 $spacing;
  height: $sidenav-toolbar-height;
  min-height: $sidenav-toolbar-height;
  max-height: $sidenav-toolbar-height;
  overflow: hidden;

  .sidenav-toolbar-icon {
    vertical-align: text-top;
    transition: opacity 0.3s, width 0.3s;

    img {
      height: 45px;
      width: auto;
    }

    &.hidden {
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
  }

  .sidenav-toolbar-logo {
    cursor: pointer;
    outline: none;
    margin-left: -10px;
    margin-bottom: -5px;

    &.centered {
      margin-left: 0;
      text-align: center;
      width: 100%;
    }

    .logo-text {
      font-family: 'Offenbacher', sans-serif;
      font-size: 36px;
      line-height: 36px;
    }

    .logo-text-short {
      font-family: 'Offenbacher', sans-serif;
      font-size: 32px;
      line-height: 36px;
      display: block;
    }
  }
}

.sidenav-toolbar-collapse-toggle {
  transition: transform .25s;

  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  &.rotate {
    transform: rotate(-180deg);
  }
}

.sidenav-toolbar-logo, .sidenav-toolbar-collapse-toggle {
  will-change: opacity;
}

.sidenav-user {
  text-align: center;
  margin-bottom: $padding-sm;

  .sidenav-user-image {
    display: block;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 2px solid white;
  }

  .sidenav-user-name {
    color: #FFD700;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .sidenav-user-email {
    color: #FFD700;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .sidenav-user-icons {

    [mat-icon-button] {
      width: 32px;
      height: 32px;
      line-height: 32px;
      padding: 0;

      & + [mat-icon-button] {
        margin-left: $padding-xxs;
      }
    }

    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.sidenav-items {
  min-height: 0;
}

.sidenav-config-button {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;

  button {
    width: 100%;
    padding: 12px 16px;
    color: #FFD700;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 215, 0, 0.1);
    }

    mat-icon {
      margin-right: 12px;
    }

    &.collapsed {
      justify-content: center;

      mat-icon {
        margin-right: 0;
      }
    }

    .sidenav-config-text {
      font-size: 14px;
    }
  }
}
