<div class="sidenav" fxLayout="column">
  <div class="sidenav-toolbar" fxLayout="row" fxLayoutAlign="start center">
    <div class="sidenav-toolbar-icon" [class.hidden]="collapsed && !expanded">
      <img src="assets/icons/icon-white.png" alt="icon">
    </div>
    <div [routerLink]="['/']" class="sidenav-toolbar-logo" [class.centered]="collapsed && !expanded">
      <span class="logo-text" *ngIf="!collapsed || expanded">BetsKing</span>
      <span class="logo-text-short" *ngIf="collapsed && !expanded">BK</span>
    </div>


    <span fxFlex><!-- fill space --></span>

    <div fxFlexAlign="center" fxHide fxShow.gt-md>
      <button (click)="toggleCollapsed()" class="sidenav-toolbar-collapse-toggle" mat-icon-button>
        <mat-icon *ngIf="!collapsed">chevron_left</mat-icon>
        <mat-icon *ngIf="collapsed">chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <fury-scrollbar class="sidenav-items" fxFlex="auto">
    <div *ngIf="sidenavUserVisible$ | async" class="sidenav-user">
      <img class="sidenav-user-image" [src]="getAvatarUrl()">
      <h4 class="sidenav-user-name">{{ currentUser?.firstName || 'Usuario' }}</h4>
      <h5 class="sidenav-user-email">{{ currentUser?.lastName || '' }}</h5>

      <div class="sidenav-user-icons" fxLayout="row">
        <a [routerLink]="['/users']" mat-icon-button>
          <mat-icon>assignment</mat-icon>
        </a>
        <a [routerLink]="['/apps/calendar']" mat-icon-button>
          <mat-icon>date_range</mat-icon>
        </a>
        <a (click)="logout()" mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </div>
    </div>

    <fury-sidenav-item *ngFor="let item of items$ | async" [item]="item" [level]="0"></fury-sidenav-item>
  </fury-scrollbar>

  <div *ngIf="isSuperAdmin()" class="sidenav-config-button">
    <button (click)="onOpenConfig()" [class.collapsed]="collapsed && !expanded" mat-button fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>settings</mat-icon>
      <span *ngIf="!collapsed || expanded" class="sidenav-config-text">Configuración</span>
    </button>
  </div>

</div>
