@use 'sass:math';
@import "var";

@font-face {
  font-family: 'Offenbacher';
  src: url('/assets/fonts/OfenbacherSchwabCAT.ttf') format('truetype');
}

:host {
  display: flex;
  flex-direction: column;
  z-index: $sidenav-z-index;
  height: 100%;
  top: 0;
  bottom: 0;
  width: $sidenav-width;
}

.sidenav {
  height: 100%;
  will-change: width;
}

.sidenav-toolbar {
  padding: 0 math.div($spacing, 1.333) 0 $spacing;
  height: $sidenav-toolbar-height;
  min-height: $sidenav-toolbar-height;
  max-height: $sidenav-toolbar-height;
  overflow: hidden;

  .sidenav-toolbar-icon {
    vertical-align: text-top;

    img {
      height: 45px;
      width: auto;
    }
  }

  .sidenav-toolbar-logo {
    cursor: pointer;
    outline: none;
    margin-left: -10px;
    margin-bottom: -5px;

    .logo-text {
      font-family: 'Offenbacher', sans-serif;
      font-size: 36px;
      line-height: 36px;
    }
  }
}

.sidenav-toolbar-collapse-toggle {
  transition: transform .25s;

  .sidenav-toolbar-collapse-icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
  }

  &.rotate {
    transform: rotate(-180deg);
  }
}

.sidenav-toolbar-logo, .sidenav-toolbar-collapse-toggle {
  will-change: opacity;
}

.sidenav-user {
  text-align: center;
  margin-bottom: $padding-sm;

  .sidenav-user-image {
    display: block;
    height: 72px;
    width: 72px;
    border-radius: 50%;
  }

  .sidenav-user-email {
    margin-top: 0;
  }

  .sidenav-user-icons {

    [mat-icon-button] {
      width: 32px;
      height: 32px;
      line-height: 32px;
      padding: 0;

      & + [mat-icon-button] {
        margin-left: $padding-xxs;
      }
    }

    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.sidenav-items {
  min-height: 0;
}
