@import "var";

:host {
  bottom: 0;
  display: block;
}

.footer {
  height: $footer-height;
  position: relative;
  z-index: $footer-z-index;
  padding-left: $spacing;
  padding-right: $spacing;

  .name {
    letter-spacing: 0;
    font-size: clamp(0.75rem, 2vw, 1rem);

    .brand-name {
      font-family: 'Offenbacher', sans-serif;
      font-weight: 900;
      color: #c39826;
      font-size: 1.4em;
    }
  }

  .action {
    .icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }
}
