<div *ngIf="visible$ | async" class="footer" fxLayout="row">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px" fxFlex="grow">
    <div class="name">
      <span class="brand-name">BetsKing</span> — Detecta oportunidades de surebets y optimiza tus apuestas con datos en tiempo real.
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button (click)="hide()" mat-icon-button type="button">
      <mat-icon class="close">close</mat-icon>
    </button>
  </div>
</div>
