@import "var";

.page {
  display: block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(to bottom, white, rgb(72, 72, 72)), url('/assets/img/backgrounds/login-background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.card {
  width: 500px;
  margin-right: 15%;

  @include media-xs {
    width: 300px;
    margin-right: 0;
  }

  .header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
