.dialog-content {
  text-align: center;
  padding: 24px;
}

.icon-container {
  margin-bottom: 16px;
}

.success-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

.dialog-title {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 500;
}

.dialog-message {
  margin: 8px 0;
  color: rgba(0, 0, 0, 0.6);
}
